* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  color: white;
}

.container {
  background: rgba(27, 27, 50, 0.7);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -666;
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
}

.title {
  text-align: center;
  max-width: 600px;
}

.form {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 600px;
}

.form__row {
  text-align: center;
  min-width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form__row label {
  display: inline-block;
  width: 47%;
  text-align: left;
  font-weight: 700;
}

.form__row input {
  display: inline-block;
  width: 47%;
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: inherit;
}

.form__row input:focus {
  border: 1px solid #3498db;
  -webkit-box-shadow: 1px 1px 12px #3498db;
          box-shadow: 1px 1px 12px #3498db;
}

.form__row input:focus-visible {
  outline: none;
}

.form__row select {
  display: inline-block;
  width: 47%;
  padding: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: inherit;
}

.form__row select:focus {
  border: 1px solid #3498db;
  -webkit-box-shadow: 1px 1px 12px #3498db;
          box-shadow: 1px 1px 12px #3498db;
}

.form__row select option {
  color: black;
}

.form__row .validation {
  height: 15px;
  width: 100%;
  padding-top: 3px;
}

.form__row .validation span {
  display: block;
  width: 49%;
  margin-left: auto;
  color: red;
  height: 15px;
  font-size: 13px;
  text-align: left;
  font-weight: 700;
}

.form__button {
  display: block;
  margin: 50px auto 0px auto;
  padding: 15px 75px;
  border: 2px solid #3498db;
  background: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
}

.form__button:disabled {
  background: #ddd;
  z-index: 9999;
}

.form__button::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.form__button--active:hover::before {
  height: 180%;
}

#file-input {
  border: 0px;
  padding: 0px;
  background-color: transparent;
}

@media only screen and (max-width: 650px) {
  .title {
    font-size: 28px;
  }
  .container {
    width: 100%;
    margin: 0 2em;
    min-width: 300px;
  }
  .form {
    margin: 0;
  }
  .form__row {
    min-width: 100%;
  }
  .form label {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
  .form input {
    display: block;
    width: 100%;
  }
  .form select {
    display: block;
    width: 100%;
  }
  .form .validation span {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */